*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: calibri;
}

@font-face {
    font-family:"Minecraft Regular";
    src:url("minecraft_font/1_Minecraft-Regular.eot?") format("eot"),
    url("minecraft_font/1_Minecraft-Regular.woff") format("woff"),
    url("minecraft_font/1_Minecraft-Regular.ttf") format("truetype"),
    url("minecraft_font/1_Minecraft-Regular.svg#Minecraft-Regular") 
    format("svg");
    font-weight:normal;
    font-style:normal;
}

/* ---------------------------------------------------------------- */

.page {
    min-height: 100vh;
    background: linear-gradient(black 25vh, rgb(123, 123, 123) 50vh, black 80vh);
    margin: 0 auto;
    padding: 10px;
    position: relative;
} 

/* ---------------------------------------------------------------- */

.title {
    
    color: rgb(140, 0, 255);
    text-align: center;
    font-family: Minecraft Regular;
}

/* ---------------------------------------------------------------- */

.main-button {
    margin: 5px;
    height: 70px;
    width: 70px;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    font-weight: 700;
    background-size: cover;

}
.main-button:active {
    background-color:rgba(88, 88, 88, 0.5);
    border: 2px solid rgb(255, 255, 255);
    transition: 0.1s;   
}

/* ---------------------------------------------------------------- */

.menu-up-btns {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#leaderboard-btn {
    background-image: url('imgs/pedestal.png');
}

#map-btn {
    background-image: url('imgs/map.png');
}

/* ---------------------------------------------------------------- */

.menu-down-btns {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#artifacts-btn {
    background-image: url('imgs/bag.png');
}

#weapon-btn {
    background-image: url('imgs/sword.png');
}

/* ---------------------------------------------------------------- */

.scale-box {
    height: 30px;
    background: linear-gradient( to right, rgb(151, 0, 0), rgb(255, 30, 30));
    
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.health-scale {
    height: 30px;
    background-color: black;
}   

.health-scale-border {
    border: 2px solid rgb(195, 195, 195);
    margin: 5px;

}

/* ---------------------------------------------------------------- */

.main-area {

    background-color: gray;
    height: 50vh;
    max-height: 71.43vw;
    width: 50vh;
    max-width: 71.43vw;
    
    
    margin-left: auto;
    margin-right: auto;
}

.room {
    height: 95%;
    width: 95%;
    background-color: gray;
    border: 5px solid black;

    top:2.5%;
    left:2.5%;
    position:relative;
}



#up-gate{
    background-color: gray;
    height: 5px;
    width: 50%;
    position: absolute;
    top: -5px;
    right: 25%;
    display: none;
}
#right-gate{
    background-color: gray;
    height: 50%;
    width: 5px;
    position: absolute;
    right: -5px;
    bottom: 25%;
    display: none;
}
#bottom-gate{
    background-color: gray;
    height: 5px;
    width: 50%;
    position: absolute;
    bottom: -5px;
    left: 25%;
    display: none;
}
#left-gate{
    background-color: gray;
    height: 50%;
    width: 5px;
    position: absolute;
    left: -5px;
    top: 25%;
    display: none;
}
