.referrals-area{
    /* display: block;  */

}

.referrals-top-div{
    display: flex;
    justify-content: space-between;
}
.referrals-title{
    font-family: Minecraft Regular;
    color: var(--main-purple);
    font-size: 6vh;
    position: relative;
    right: 1.5vw;
    top: 0vh
}

.ref-reward-wrap{
    height: 13vh;
    margin-bottom: 4vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;

    
}

.ref-reward-div, .claim-ref-reward{
    min-width: 98%;
    text-align: center;
    width: fit-content;
    max-width: 95%;
    height: 6.5vh;
    background-color: black;
    color: var(--main-purple);
    border: 2px solid var(--main-purple);
    margin-left: auto;
    margin-right: auto;
    
}

.claim-ref-reward {
    font-size: 4vh;
    margin-top: 2vh;
    font-family: Minecraft Regular;
    min-width: fit-content;
    width: 80vw;
    padding-left: 8px;
    padding-right: 8px;

}

.claim-ref-reward:active{
    background-color: var(--main-purple);
    border-color: black;
    color: black;

}

.ref-reward-h{
    margin-left: 2vw;
    margin-right: 2vw;
    /* background-color: red; */
    position: relative;
    font-size: 4vh;
    font-family: Minecraft Regular;
}

.ref-reward-count{
    font-family: Minecraft Regular;
}



.place{
    margin-right: 1vw;

}

.ref-card{
    width: 80vw;
    background-color: rgb(23, 23, 23);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--main-purple);     
    padding: 4px 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 62px;   

    
}

.ref-card p{
    font-size: 25px;
    font-family: Minecraft Regular;
    color: var(--main-purple);
    margin-top: 8px;
    margin-bottom: 1px;
} 

.ref-name {
    margin-left: 2vw;
}
.reward {
    margin-right: 2vw;
}

.refs-box{
    margin-left: auto;
    margin-right: auto;
    overflow:auto;
    height: 70%;
    width: 80vw;

}