*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*{
    font-family: calibri;
    
}

:root {
    --main-purple: rgb(140, 0, 255);
    --text-purple: rgb(184, 96, 255);
}

@font-face {
    font-family:"Minecraft Regular";
    src:url("minecraft_font/1_Minecraft-Regular.eot?") format("eot"),
    url("minecraft_font/1_Minecraft-Regular.woff") format("woff"),
    url("minecraft_font/1_Minecraft-Regular.ttf") format("truetype"),
    url("minecraft_font/1_Minecraft-Regular.svg#Minecraft-Regular") 
    format("svg");
    font-weight:normal;
    font-style:normal;
}

body {
    overflow: hidden;
}
/* ---------------------------------------------------------------- */

.main {
    min-height: 100vh;
    background: linear-gradient(black 25vh, rgb(123, 123, 123) 50vh, black 80vh);
    margin: 0 auto;
    padding: 10px;
    position: relative;

} 

/* ---------------------------------------------------------------- */

.title {
    color: var(--main-purple);
    text-align: center;
    font-family: Minecraft Regular;
}

/* ---------------------------------------------------------------- */

.main-button {
    margin: 5px;
    height: 70px;
    width: 70px;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    font-weight: 700;
    background-size: cover;
    transition: 0.1s;   

}
.main-button:active {
    background-color:rgba(88, 88, 88, 0.5);
    border: 2px solid rgb(255, 255, 255);
    transition: 0.1s;   
}

/* ---------------------------------------------------------------- */

.menu-up-btns, .menu-down-btns {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#leaderboard-btn {
    background-image: url('imgs/pedestal.png');
}

#map-btn {
    background-image: url('imgs/map.png');
}

#artifacts-btn {
    background-image: url('imgs/bag.png');
}

#weapon-btn {
    background-image: url('imgs/sword.png');
}

/* ---------------------------------------------------------------- */

.scale-box {
    height: 30px;
    background:rgb(255, 0, 0);
    
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.health-scale {
    height: 30px;
    background-color: black;
}   

.health-scale-border {
    border: 2px solid rgb(195, 195, 195);
    margin: 5px;
}

/* ---------------------------------------------------------------- */

.main-area {
    background-color: #5c5c5c;
    height: 50vh;
    max-height: 71.43vw;
    width: 50vh;
    max-width: 71.43vw;
    
    margin-left: auto;
    margin-right: auto;
    
}

.room {
    height: 95%;
    width: 95%;
    background: url('imgs/floor1.png') no-repeat;
    background-size:contain;
    border: 1vh solid black;

    position:relative;
    top:2.5%;
    left:2.5%;
}

/* ------------------------------------------ */
.control-buttons{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
}
.control-buttons:active {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color:  rgba(0, 0, 0, 0);
}
.gate {
    background-color: black;
    position: absolute;
    display: inline;
}

#up-gate{
    height: 1vh;
    width: 50%;
    top: -1vh;
    right: 25%;
}
#up-button {
    height: 27%;
    width: 50%;
    top: -2vh;
    right: 25%;
}

#right-gate{
    height: 50%;
    width: 1vh;
    right: -1vh;
    bottom: 25%;
}
#right-button {
    height: 50%;
    width: 27%;
    right: -2vh;
    bottom: 25%;
}

#bottom-gate{
    height: 1vh;
    width: 50%;
    bottom: -1vh;
    left: 25%;
}
#bottom-button {
    height: 27%;
    width: 50%;
    bottom: -2vh;
    left: 25%;
}

#left-gate{
    height: 50%;
    width: 1vh;
    left: -1vh;
    top: 25%;
}
#left-button {
    height: 50%;
    width: 27%;
    left: -2vh;
    top: 25%;
}

/* ----------------------------------- */

.additional-area{
    background-color: rgb(36, 36, 36);
    width: 100vw;
    height: 90vh;
    position: absolute;
    bottom: 1px;
    border: 1vw solid rgb(51, 51, 51);
    border-width: 1vw 1vw 0 1vw;
    /* border-radius: 4vh 4vh 0% 0; */
    display: none;   
}

.exit-additional-btn, .additional-btn {
    margin: 2.5vw;
    width: 20vw;
    height: 8vh;
    border: 2px solid grey;
    /* border-radius: 2vh; */
    color: var(--main-purple);
    text-align: center;
    font-family: Minecraft Regular;
    font-size:2rem;
    background-color: black;

}
.exit-additional-btn:active, .additional-btn:active {
    background-color: grey;
    border-color:black;
}

/* ---------------------------------------- */

.map-area {
    display: none;
}

.up-bar {
    display: flex;
    justify-content: space-between;
    /* width: 80%; */
    /* background-color: red; */
}

.room-counter-div{
    margin: 2.5vw;
    margin-top: -1.3vw;
    height: 8vh;
}
.room-counter-div-small {
    display: flex;
    margin-top: -2.5vh;
}
.room-counter-text {
    color: var(--main-purple);
    font-size: 4.5vh;
}
.room-counter{
    color: var(--main-purple);
    font-size: 5vh;

}

.map {
    background-color: rgb(238, 223, 166);
    height: 80vh;
    max-height: 80vw;
    width: 80vh;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.map-place {
    height: 90%;
    width: 90%;
    border: 1px solid black;
    position: relative;
    top: 5%;
    left: 5%;
    line-height: 0px;
}
.map-room {
    height: 10%;
    width: 10%;
    border: 1px solid black;
    display:inline-block;
    margin: 0;
}

/* ----------------------------------------------------- */

.weapon-btn-active {
    background-color: grey;
    border-color:black;
    border: 3px solid white;
}

.weapon-buttons {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 93vw;
    margin: 2.5vw;
}
#sword {background-image: url('imgs/purple-sword.png');}
#magic {background-image: url('imgs/purple-magic.png');}
#shield {background-image: url('imgs/purple-shield.png');}
#ring {background-image: url('imgs/purple-ring.png');}

.weapon-buttons div button{
    height: 18vw;
    width: 18vw;
    margin: 0;
}

.weapon-text {
    color: var(--text-purple);
    font-family: Minecraft Regular;
    margin: 2.5vw;
}
.weapon-description {
    color: var(--text-purple);
    font-family: Minecraft Regular;
    height:38svh;
    overflow: auto;
    margin: 2.5vw;
}

.control-btns button{
    font-size: 4vw;
}
/* ------------------------------------ */

.leaders-area{
    
}

.avatarka{
    border-radius: 100%;
    width: auto;
}

.img-and-pic{
    display: flex;
    width: 22vw;
    
}

.place{
    
    margin-right: 1vw;
}

.card{
    height: 60px;
    width: 90vw;
    background-color: rgb(51, 51, 51);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--main-purple);     
    padding: 4px 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.card p{
    font-size: 30px;
    font-family: Minecraft Regular;
    color: var(--main-purple);
    margin-top: 2px;
} 